/**
 * custom.scss
 *
 * This file left blank intentionally. Implementations of Open SDG can use
 * a similarly named file for custom styles.
 */

/*#2.1 Navigation Buttond */
 @for $i from 1 through length($goal-banner-backgroundColors) {
   $background-c: nth($goal-banner-backgroundColors, $i);
   .goal-#{$i} {
     &.goal-banner {
       background-color: $background-c;
     }
     &.navigation-btn {
       background-color: $background-c;
       color: white;
       height: 36px;
       border-color: transparent;
       margin-bottom: 5px;
       padding-top: 6px;
       padding-bottom: 6px;
     }
     &.navigation-btn:hover {
       background-color: darken($background-c,10%);
     }
   }
 }

 .goal-banner {
   h1, p {
     color: $goal-banner-color;
     @media screen and (min-width: 300px) {
       font-size:2vw;
     }
   }
 }
/*#2.1*/
