#main-content #map,
#main-content #infoPanel {
  width: 710px;
}

.navbar-brand {
  max-width: 375px;
}

header {
  background: #fff;
  border-bottom: solid 2px #CCC;
}

.us-heading {
  background-color: #205493;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contrast-high .us-heading {
  background-color: black;
}
