#main-content #map,
#main-content #infoPanel {
  width: 710px;
}

.navbar-brand {
  max-width: 375px;
}

header {
  background: #fff;
}

.us-front-heading {
  background-color: #205493;
  color: white;
  padding: 40px;
  margin-top: 0;
  text-align: center;
}
.contrast-high .us-front-heading {
  background-color: black;
}
