---
---
.notapplicable {
  background-color: #B7B7B7;
}
.inprogress {
   background-color: #f0ad4e;
 }
.complete {
   background-color: #5cb85c;
 }
 .notrelevant{
   background-color: #B8B8B8;
 }
 #main-content.goal-indicators .indicator-cards a {
   padding: 0;
   margin-bottom: 1.5rem;
 }
 #main-content.goal-indicators .indicator-cards.target {
   margin-bottom: 1.5rem;
   clear: left;
   font-weight: bold;
 }
