---
# This file is intended to follow/tweak the GDS (govuk-frontend) styles.
---
// Override the font-face rules to fix the URLs (adding site.baseurl).
@font-face {
    font-family: GDS Transport;
    font-style: normal;
    font-weight: 400;
    src: url({{ site.baseurl }}/assets/fonts/light-94a07e06a1-v2.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/light-f591b13f7d-v2.woff) format("woff");
    font-display: fallback;
}
@font-face {
    font-family: GDS Transport;
    font-style: normal;
    font-weight: 700;
    src: url({{ site.baseurl }}/assets/fonts/bold-b542beb274-v2.woff2) format("woff2"), url({{ site.baseurl }}/assets/fonts/bold-affa96571d-v2.woff) format("woff");
    font-display: fallback;
}

@import "govuk-tweaks";