<!---#8 addNavigationButtons---start------------------------------------->
{% if page.language == 'de' %}
  {% assign language = '' %}
{% else %}
  {% assign language = page.language %}
{% endif %}
<!---Indicator page-->
{% if goal_uri %}
  <!---3 Btns if there is a corresponding Indicator-->

  {% if page.indicator.dns_indicator %}
    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ page.indicator.baseurl }}{{ baseurl_folder }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b class="hidden-sm hidden-xs">{{ page.t.general.prev_indicator }} </b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-4">
      <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ page.indicator.dns_indicator }}" class="btn btn-primary btn-block" title="{{ page.t.general.link_dns_indicator }}" role="button">
        <b class="hidden-sm hidden-xs">{{ page.t.general.indicator_link_dns }}</b> <b>DNS-{{ page.indicator.dns_indicator | replace: "/", "" | replace: "-", "."}}</b>
      </a>
    </div>

    <div class="col-xs-3 col-md-3 col-lg-4">
      <a href="{{ page.baseurl }}{{ baseurl_folder }}/{{ page.indicator.next }}" class="btn btn-primary btn-block" role="button">
        <b class="hidden-sm hidden-xs">{{ page.t.general.next_indicator }}</b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  <!---2 Btns if there is no corresponding Indicator-->
  {% else  %}
    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ page.baseurl }}{{ baseurl_folder }}/{{ page.indicator.previous }}" class="btn btn-primary btn-block" role="button">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> <b class="hidden-sm hidden-xs">{{ page.t.general.prev_indicator }} </b>
      </a>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-6">
      <a href="{{ page.baseurl }}{{ baseurl_folder }}/{{ page.indicator.next }}" class="btn btn-primary btn-block" role="button">
        <b class="hidden-sm hidden-xs">{{ page.t.general.next_indicator }} </b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}

<!---Goal page-->
{% else %}
  {% if page.sdg_goal == '1' %}
    {% assign next_goal = '2' %}
    {% assign previous_goal = '17' %}
  {% elsif page.sdg_goal == '17' %}
    {% assign next_goal = '1' %}
    {% assign previous_goal = '16' %}
  {% else %}
    {% assign previous_goal = page.sdg_goal | minus: 1 %}
    {% assign next_goal = page.sdg_goal | plus: 1 %}
  {% endif %}

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ page.baseurl }}{{ baseurl_folder }}/{{ previous_goal }}" class="btn btn-primary btn-blockG{{ goal_number }}-background" role="button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> <b class="hidden-sm hidden-xs">{{ page.t.general.prev_goal }}</b>
    </a>
  </div>

  <div class="col-xs-6 col-md-6 col-lg-4">
    <a href="https://sustainabledevelopment-deutschland.github.io/{{ language }}/{{ goal_number }}" class="btn btn-primary btn-blockG{{ goal_number }}-background" title="{{ page.t.general.link_sdg_goal }}" role="button">
      <b class="hidden-sm hidden-xs">{{ page.t.general.target_link_dns }} {{ page.t.general.goal }} {{ goal_number }} </b><b class="visible-sm visible-xs">{{ page.t.general.goal }} {{ goal_number }} {{ page.t.general.national }}</b>
    </a>
  </div>

  <div class="col-xs-3 col-md-3 col-lg-4">
    <a href="{{ page.baseurl }}{{ baseurl_folder }}/{{ next_goal }}" class="btn btn-primary btn-blockG{{ goal_number }}-background" role="button">
      <b class="hidden-sm hidden-xs">{{ page.t.general.next_goal }}</b> <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </div>

{% endif %}
<!--#8 addNavigationButtons---stop-------------------------------------->
